/* @file
 * imager.sass
 */
/* line 16, ../scss/imager.scss */
#imager-wrapper {
  color: #000;
  background-color: #e0e0e0;
}
/* line 19, ../scss/imager.scss */
#imager-wrapper table {
  background-color: #cacaca;
  border-collapse: separate;
  border-spacing: 2px;
}
/* line 23, ../scss/imager.scss */
#imager-wrapper table td {
  line-height: 1;
  border-top: 0;
  padding: 2px;
}
/* line 28, ../scss/imager.scss */
#imager-wrapper table th {
  color: #cacaca;
  background-color: #666;
}

/* line 35, ../scss/imager.scss */
#imager-hidden-form {
  display: none;
}

/* line 39, ../scss/imager.scss */
#imager-viewer.fullscreen {
  width: 100%;
}

/* line 43, ../scss/imager.scss */
.imager-viewer-dialog {
  position: fixed;
  z-index: 1010 !important;
}
/* line 46, ../scss/imager.scss */
.imager-viewer-dialog .ui-dialog-titlebar {
  display: none;
}

/* line 51, ../scss/imager.scss */
#imager-viewer {
  overflow: auto;
  padding: 2px;
}
/* line 54, ../scss/imager.scss */
#imager-viewer button {
  background-color: #cacaca;
}
/* line 57, ../scss/imager.scss */
#imager-viewer #imager-canvas-wrapper {
  float: left;
  position: relative;
}
/* line 60, ../scss/imager.scss */
#imager-viewer #imager-canvas-wrapper #imager-canvas {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 68, ../scss/imager.scss */
#imager-viewer #imager-canvas-wrapper #imager-image {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 74, ../scss/imager.scss */
#imager-viewer #button-wrapper {
  float: left;
}
/* line 76, ../scss/imager.scss */
#imager-viewer #button-wrapper div {
  text-align: center;
}
/* line 79, ../scss/imager.scss */
#imager-viewer #button-wrapper .buttons {
  background-color: #e0e0e0;
  padding: 2px 1px;
  margin: 0 2px 2px 0;
  text-align: center;
  font-size: 65%;
}
/* line 85, ../scss/imager.scss */
#imager-viewer #button-wrapper .buttons img {
  display: block;
  padding: 2px;
  margin: 0 auto;
}
/* line 90, ../scss/imager.scss */
#imager-viewer #button-wrapper .buttons .checked {
  background-color: #aaa;
}
/* line 93, ../scss/imager.scss */
#imager-viewer #button-wrapper .buttons .disabled {
  background-color: #aaa;
}
/* line 96, ../scss/imager.scss */
#imager-viewer #button-wrapper .buttons .specific {
  background-color: #666;
}
/* line 99, ../scss/imager.scss */
#imager-viewer #button-wrapper .buttons#debug-buttons {
  z-index: 1009;
  position: absolute;
  bottom: 0;
}

/* line 108, ../scss/imager.scss */
.imager-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #f0f0f0;
}
/* line 113, ../scss/imager.scss */
.imager-buttons img {
  padding: 4px;
}

/* line 118, ../scss/imager.scss */
#imager-info {
  padding: 5px;
}
/* line 120, ../scss/imager.scss */
#imager-info .title {
  text-align: center;
  word-wrap: break-word;
}
/* line 124, ../scss/imager.scss */
#imager-info .filename {
  text-align: center;
}
/* line 127, ../scss/imager.scss */
#imager-info .error {
  background-color: #c00;
  color: #fff;
}
/* line 131, ../scss/imager.scss */
#imager-info .field-name-sfield-owner,
#imager-info .field-name-sfield-filename,
#imager-info .field-name-sfield-filesize,
#imager-info .field-name-sfield-geometry {
  float: none;
  clear: both;
}
/* line 138, ../scss/imager.scss */
#imager-info #imager-info-geometry {
  clear: both;
}
/* line 142, ../scss/imager.scss */
#imager-info #imager-info-content img.imager-info-edit {
  float: left;
  clear: both;
}
/* line 146, ../scss/imager.scss */
#imager-info #imager-info-content section {
  float: left;
}

/* line 152, ../scss/imager.scss */
#imager-edit {
  padding: 10px;
}
/* line 154, ../scss/imager.scss */
#imager-edit .form-item {
  margin: 0;
}
/* line 157, ../scss/imager.scss */
#imager-edit .description {
  font-style: italic;
  margin-top: 10px;
  max-width: 500px;
}
/* line 162, ../scss/imager.scss */
#imager-edit .form-text {
  width: 500px;
}
/* line 165, ../scss/imager.scss */
#imager-edit table.cke_editor {
  background-color: #ccc;
  border-radius: 0;
}
/* line 168, ../scss/imager.scss */
#imager-edit table.cke_editor body {
  background-image: none;
}
/* line 173, ../scss/imager.scss */
#imager-edit .field-widget-text-textarea .fieldset-wrapper {
  margin: 0;
}
/* line 177, ../scss/imager.scss */
#imager-edit .field-widget-text-textarea fieldset .form-wrapper {
  display: none;
}

/* line 185, ../scss/imager.scss */
.imager-confirm-dialog .ui-dialog-titlebar {
  display: none;
}

/* line 190, ../scss/imager.scss */
#imager-confirm {
  max-width: 700px;
  z-index: 1020;
  padding: 1.2em 10px 0;
}
/* line 194, ../scss/imager.scss */
#imager-confirm .imager-content {
  margin: 0;
}
/* line 197, ../scss/imager.scss */
#imager-confirm #imager-confirm-content {
  font-size: 140%;
  padding: 0 2em;
}
/* line 201, ../scss/imager.scss */
#imager-confirm #imager-confirm-buttons {
  position: static;
  margin: 0 auto;
  width: 53px;
  float: none;
}

/* line 209, ../scss/imager.scss */
#imager-map {
  max-width: 800px;
  padding: 5px;
  position: fixed;
  z-index: 1013;
}
/* line 214, ../scss/imager.scss */
#imager-map .description {
  max-width: 300px;
}

/* line 219, ../scss/imager.scss */
#imager-messages.error {
  background: #c00 none;
}

/* line 223, ../scss/imager.scss */
#imager-messages {
  padding: 10px;
  font-size: 80%;
}
/* line 230, ../scss/imager.scss */
#imager-messages .error {
  padding: 0.5em;
  background-color: #c00;
  color: white;
  font-size: 130%;
}

/* line 239, ../scss/imager.scss */
.imager-filesave-dialog #imager-filesave-filename {
  width: 15em;
  font-size: 90%;
}
/* line 243, ../scss/imager.scss */
.imager-filesave-dialog #resolution {
  margin: 0 auto 10px;
  width: auto;
}

/* line 249, ../scss/imager.scss */
.imager-dialog {
  z-index: 1050;
}
/* line 251, ../scss/imager.scss */
.imager-dialog .ui-dialog-content {
  min-height: 0 !important;
}

/* line 257, ../scss/imager.scss */
.imager-brightness-dialog .ui-dialog-titlebar,
.imager-color-dialog .ui-dialog-titlebar {
  display: none;
}
/* line 260, ../scss/imager.scss */
.imager-brightness-dialog .error,
.imager-color-dialog .error {
  background-color: #c00;
}
/* line 263, ../scss/imager.scss */
.imager-brightness-dialog .slider,
.imager-color-dialog .slider {
  -webkit-appearance: none;
}
/* line 266, ../scss/imager.scss */
.imager-brightness-dialog #slider-hue,
.imager-color-dialog #slider-hue {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
}
/* line 269, ../scss/imager.scss */
.imager-brightness-dialog #slider-saturation,
.imager-color-dialog #slider-saturation {
  background-image: linear-gradient(to right, #c8c8c8, rgba(200, 200, 200, 0.4), rgba(200, 200, 200, 0)), linear-gradient(red, yellow, #008888);
}
/* line 272, ../scss/imager.scss */
.imager-brightness-dialog #slider-lightness,
.imager-brightness-dialog #slider-brightness,
.imager-color-dialog #slider-lightness,
.imager-color-dialog #slider-brightness {
  background: linear-gradient(to right, #000, #fff);
}
/* line 276, ../scss/imager.scss */
.imager-brightness-dialog #slider-contrast,
.imager-color-dialog #slider-contrast {
  background-image: linear-gradient(to right, #888, #666, #222, #000), linear-gradient(to right, #888, #aaa, #ddd, #fff);
  background-size: 100% 50%, 100% 50%;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

/* line 284, ../scss/imager.scss */
#imager-email {
  position: fixed;
  z-index: 1050;
  padding: 10px;
}
/* line 285, ../scss/imager.scss */
#imager-email table {
  margin: 0 auto;
  width: auto;
}
/* line 291, ../scss/imager.scss */
#imager-email input {
  width: 97%;
}
/* line 295, ../scss/imager.scss */
#imager-email #resolution {
  margin: 0 auto 10px;
  width: auto;
}

/* line 301, ../scss/imager.scss */
#imager-busy {
  position: fixed;
  top: 400px;
  left: 600px;
  z-index: 1110;
}

/* line 311, ../scss/imager.scss */
.imager .views-row {
  line-height: 1.1;
  font-size: 90%;
  float: left;
  margin: 10px;
  width: 190px;
  height: 200px;
}

/* line 321, ../scss/imager.scss */
div#main {
  width: auto;
}

/* line 326, ../scss/imager.scss */
.imager-noclose .ui-dialog-titlebar-close {
  display: none;
}

/* line 331, ../scss/imager.scss */
.dialogStatus {
  position: fixed;
  z-index: 1014;
  background-color: #aaa;
}

/* line 337, ../scss/imager.scss */
.imager-dialog {
  padding: 0;
  position: fixed;
}
/* line 340, ../scss/imager.scss */
.imager-dialog .ui-dialog-content {
  background-color: #cacaca;
}
/* line 343, ../scss/imager.scss */
.imager-dialog .ui-dialog-buttonpane {
  margin: 0;
  background-color: #666;
  padding: 0 .5em 0 0.4em;
}
/* line 347, ../scss/imager.scss */
.imager-dialog .ui-dialog-buttonpane button {
  cursor: pointer;
  margin: 0.4em;
  font-size: 90%;
}
/* line 353, ../scss/imager.scss */
.imager-dialog .ui-button-text {
  padding: 0.1em 0.5em;
}
/* line 356, ../scss/imager.scss */
.imager-dialog .imager-content {
  margin: 0;
  padding: .25em .5em;
}
/* line 361, ../scss/imager.scss */
.imager-dialog .form-item input {
  font-size: 100%;
}
/* line 364, ../scss/imager.scss */
.imager-dialog .form-item .option {
  font-size: 100%;
  padding-left: 0.5em;
}
/* line 368, ../scss/imager.scss */
.imager-dialog .form-item .description {
  color: #666;
}
/* line 373, ../scss/imager.scss */
.imager-dialog #imager-status-content {
  padding: 0;
  text-align: center;
}
/* line 376, ../scss/imager.scss */
.imager-dialog #imager-status-content .imager-status-col {
  float: left;
  margin: 5px;
}
/* line 381, ../scss/imager.scss */
.imager-dialog #imager-status-content .imager-text-right {
  text-align: right;
}
/* line 386, ../scss/imager.scss */
.imager-dialog #imager-status-content table {
  margin-bottom: 6px;
}

/* line 392, ../scss/imager.scss */
.imgareaselect-outer {
  z-index: 1011 !important;
}
