/* @file
 * imager.sass
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000311}}
#imager-wrapper table {
  background-color: #555588;
  margin-top: 0;
  border: 0px;
  border-radius: 12px;
  border-collapse: separate;
  border-spacing: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000318}}
#imager-wrapper table th:first-child {
  border-radius: 10px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000320}}
#imager-wrapper table th:last-child {
  border-radius: 0 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000322}}
#imager-wrapper table th:only-child {
  border-radius: 10px 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000324}}
#imager-wrapper table th {
  text-align: center;
  color: #ffffbb;
  background-color: #444466;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000328}}
#imager-overlay.hide {
  left: 10000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000330}}
#imager-overlay.fullscreen {
  margin: 0;
  box-shadow: none;
  width: 100%;
  padding: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000335}}
#imager-overlay {
  background: #555555;
  z-index: 1000;
  position: fixed;
  top: 5px;
  left: 5px;
  overflow: auto;
  border: solid 1px #a573f0;
  background-color: #2a0a5a;
  box-shadow: 0px 0px 4px 3px #ae19e4, 0px 0px 3px 2px #2719e4 inset;
  border-radius: 15px;
  margin: 0px;
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000345}}
#imager-overlay button {
  border-radius: 8px;
  background-color: #f0e0ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000348}}
#imager-overlay #imager-canvas-wrapper {
  float: left;
  margin: 3px 3px 0px 1px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000352}}
#imager-overlay #imager-canvas-wrapper #imager-canvas-org {
  display: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000354}}
#imager-overlay #imager-canvas-wrapper #imager-canvas {
  padding: 0;
  margin: 0;
  border: solid 1px gray;
  background-color: black;
  box-shadow: 0px 0px 4px 3px #4d4d4d, 0px 0px 3px 2px #4d4d4d inset;
  border-radius: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000358}}
#imager-overlay #button-wrapper {
  float: left;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000361}}
#imager-overlay #button-wrapper div {
  font-size: 80%;
  text-align: center;
  margin: 2px 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000366}}
#imager-overlay #button-wrapper .buttons {
  margin: 3px 3px 0;
  color: black;
  border: solid 1px #000099;
  background-color: #ccccff;
  box-shadow: 0px 0px 4px 3px #4400cc, 0px 0px 3px 2px #3377ff inset;
  border-radius: 12px;
  padding: 2px 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000371}}
#imager-overlay #button-wrapper .buttons img {
  margin: 0 2px;
  padding: 1px 4px;
  float: none;
  border-radius: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000376}}
#imager-overlay #button-wrapper .buttons .checked {
  background-color: #ffffbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000378}}
#imager-overlay #button-wrapper .buttons .disabled {
  background-color: #555555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000380}}
#imager-overlay #button-wrapper .buttons .specific {
  background-color: #ccccff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000382}}
#imager-overlay #button-wrapper #debug-buttons {
  z-index: 999;
  font-size: 70%;
  position: absolute;
  bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000390}}
#imager-status.hide {
  right: 100000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000392}}
#imager-status {
  border: solid 1px #ff9560;
  background-color: #602000;
  box-shadow: 0px 0px 4px 3px #f9a600, 0px 0px 3px 2px #f90000 inset;
  border-radius: 15px;
  position: fixed;
  z-index: 1010;
  right: 5px;
  bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\0000398}}
#imager-status div {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-style: 120%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003103}}
#imager-status span {
  float: left;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003107}}
#imager-info.hide {
  right: 100000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003109}}
#imager-info {
  border: solid 1px #a573f0;
  background-color: #2a0a5a;
  box-shadow: 0px 0px 4px 3px #ae19e4, 0px 0px 3px 2px #2719e4 inset;
  border-radius: 15px;
  position: fixed;
  z-index: 1005;
  right: 5px;
  top: 5px;
  padding: 10px;
  max-width: 800px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003117}}
#imager-info .title {
  color: #6f3d10;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003123}}
#imager-info .filename {
  color: #005500;
  font-style: italic;
  font-size: 70%;
  text-align: center;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003129}}
#imager-info .error {
  background-color: #551919;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003133}}
#imager-messages.hide {
  left: 100000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003135}}
#imager-messages.error {
  color: black;
  font-size: 140%;
  background-color: #551919;
  background-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003140}}
#imager-messages {
  border: solid 1px #de8f8f;
  background-color: #551919;
  box-shadow: 0px 0px 4px 3px #c76d40, 0px 0px 3px 2px #c7406d inset;
  border-radius: 15px;
  position: fixed;
  z-index: 1010;
  left: 250px;
  top: 5px;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003146}}
#imager-messages .info {
  font-size: 110%;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003149}}
#imager-messages h2 {
  margin: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003152}}
#imager-messages .error {
  background-color: #551919;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003156}}
#imager-filesave.hide,
#imager-brightness.hide,
#imager-color.hide {
  left: 100000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003160}}
#imager-filesave {
  left: 200px;
  top: 200px;
  border: solid 1px #f7d9d2;
  background-color: #aa3a20;
  box-shadow: 0px 0px 4px 3px #e6b47d, 0px 0px 3px 2px #e67d8c inset;
  border-radius: 15px;
  position: fixed;
  z-index: 1040;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003167}}
#imager-filesave #resolution {
  margin: 0 auto 10px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003170}}
#imager-filesave .title {
  font-weight: bold;
  margin: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003173}}
#imager-brightness,
#imager-color {
  border: solid 1px #40ff40;
  background-color: #004000;
  box-shadow: 0px 0px 4px 3px #00d948, 0px 0px 3px 2px #48d900 inset;
  border-radius: 15px;
  position: fixed;
  z-index: 1040;
  left: 65px;
  bottom: 5px;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003182}}
#imager-brightness .error,
#imager-color .error {
  background-color: #330000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003184}}
#imager-brightness .slider,
#imager-color .slider {
  -webkit-appearance: none;
  z-index: 1050;
  border-radius: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003188}}
#imager-brightness #slider-hue,
#imager-color #slider-hue {
  background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #008000, #00ffff, #0000ff, #800080);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003191}}
#imager-brightness #slider-saturation,
#imager-color #slider-saturation {
  background-image: linear-gradient(to right, #c8c8c8, rgba(200, 200, 200, 0.4), rgba(200, 200, 200, 0)), linear-gradient(#ff0000, #ffff00, #008888);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003193}}
#imager-brightness #slider-lightness,
#imager-brightness #slider-brightness,
#imager-color #slider-lightness,
#imager-color #slider-brightness {
  background: linear-gradient(to right, #000000, #ffffff);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003196}}
#imager-brightness #slider-contrast,
#imager-color #slider-contrast {
  background-image: linear-gradient(to right, #888888, #666666, #222222, #000000), linear-gradient(to right, #888888, #aaaaaa, #dddddd, #ffffff);
  background-size: 100% 50%, 100% 50%;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/sites\/e2\/themes\/ptheme\/sass\/imager\.sass}line{font-family:\00003202}}
.clicktoexit {
  margin-top: 10px;
  font-size: 70%;
  font-style: italic;
  color: #bbbbbb;
  float: right;
}
