/* line 1, ../sass/portfolio.sass */
html {
  background-color: #ffddbb;
}

/* line 4, ../sass/portfolio.sass */
body {
  margin: 5px;
}

/* line 7, ../sass/portfolio.sass */
div {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/portfolio.sass */
h1 {
  margin: 5px 0;
  text-align: center;
  color: #443311;
}

/* line 15, ../sass/portfolio.sass */
h2 {
  color: #443311;
}

/* line 17, ../sass/portfolio.sass */
#thumbnails {
  margin-top: 40px;
  clear: both;
}

/* line 20, ../sass/portfolio.sass */
.imager {
  float: left;
  line-height: 1;
  width: 208px;
  height: 260px;
}
/* line 25, ../sass/portfolio.sass */
.imager .thumbnail {
  width: 200px;
  height: 200px;
  margin: 5px;
  box-shadow: 1px 1px 2px 2px #222222;
  border-radius: 8px;
}
/* line 31, ../sass/portfolio.sass */
.imager .title {
  text-align: center;
  font-size: 90%;
  word-wrap: break-word;
}
/* line 35, ../sass/portfolio.sass */
.imager .filename {
  color: #005500;
  font-style: italic;
  font-size: 70%;
  text-align: center;
  margin-bottom: 5px;
}

/* line 42, ../sass/portfolio.sass */
.notice {
  font-style: italic;
}

/* line 45, ../sass/portfolio.sass */
.nobullet {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}

/* line 50, ../sass/portfolio.sass */
.col {
  float: left;
  width: 45%;
  margin: 0 20px;
}
