/* @file
 * imager.sass
 */

$red: #c00;
$white: #fff;
$lightestgrey: #f0f0f0;
$lightergrey: #e0e0e0;
$lightgrey: #cacaca;
$grey: #aaa;
$greyer: #888;
$darkgrey: #666;
$darkergrey: #444;
$black: #000;

#imager-wrapper {
  color: $black;
  background-color: $lightergrey;
  table {
    background-color: $lightgrey;
    border-collapse: separate;
    border-spacing: 2px;
    td {
      line-height: 1;
      border-top: 0;
      padding: 2px;
    }
    th {
      color: $lightgrey;
      background-color: $darkgrey;
    }
  }
}

#imager-viewer.fullscreen {
  width: 100%;
}

.imager-viewer-dialog {
  z-index: 1010 !important;
  .ui-dialog-titlebar {
    display: none;
  }
}

#imager-viewer {
  overflow: auto;
  padding: 2px;
  background-color: $grey;
  button {
    background-color: $lightgrey;
  }
  #imager-canvas-wrapper {
    float: left;
    #imager-canvas-org {
//    display: hidden;
    }
  }
  #button-wrapper {
    float: left;
    div {
      text-align: center;
    }
    .buttons {
      background-color: $lightergrey;
      padding: 2px 1px;
      margin: 0 2px 2px 0;
      text-align: center;
      font-size: 60%;
      img {
        border-radius: 4px;
        display: block;
        padding: 2px;
        margin: 0 auto;
      }
      .checked {
        background-color: $grey;
      }
      .disabled {
        background-color: $grey;
      }
      .specific {
        background-color: $darkgrey;
      }
    }
  }
}

.imager-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: $lightestgrey;
  img {
    padding: 4px;
  }
}

#imager-info {
  padding: 5px;
  background-color: $lightergrey;
  .title {
    text-align: center;
    word-wrap: break-word;
  }
  .filename {
    text-align: center;
  }
  .error {
    background-color: $red;
    color: $white;
  }
  .field-name-sfield-owner,
  .field-name-sfield-filename,
  .field-name-sfield-filesize,
  .field-name-sfield-geometry {
    float: none;
    clear: both;
  }
  #imager-info-geometry {
    clear: both;
  }
  #imager-info-content {
    img.imager-info-edit {
      float: left;
      clear: both;
    }
    section {
      float: left;
    }
  }
}

#imager-edit {
  padding: 10px;
  background-color: $lightgrey;
  .form-item {
    margin: 0;
  }
  .description {
    font-style: italic;
    margin-top: 10px;
    max-width: 500px;
  }
  .form-text {
    width: 500px;
  }
  table.cke_editor {
    background-color: #ccc;
    border-radius: 0;
    body {
      background-image: none;
    }
  }
  .field-widget-text-textarea {
    .fieldset-wrapper {
      margin: 0;
    }
    fieldset {
      .form-wrapper {
        display: none;
      }
    }
  }
}

.imager-confirm-dialog {
  .ui-dialog-titlebar {
    display: none;
  }
}

#imager-confirm {
  max-width: 700px;
  z-index: 1020;
  background-color: $lightgrey;
  padding: 1.2em 10px 0;
  .imager-content {
    margin: 0;
  }
  #imager-confirm-content {
    font-size: 140%;
    padding: 0 2em;
  }
  #imager-confirm-buttons {
    position: static;
    margin: 0 auto;
    width: 53px;
    float: none;
  }
}

#imager-map {
  max-width: 800px;
  padding: 5px;
  position: fixed;
  background-color: $greyer;
  z-index: 1013;
  .description {
    max-width: 300px;
  }
}

#imager-messages.error {
  background: $red none;
}

#imager-messages {
  background-color: $grey;
  padding: 10px;
  font-size: 80%;
  .info {
  }
  h2 {
  }
  .error {
    padding: 0.5em;
    background-color: $red;
    color: white;
    font-size: 130%;
  }
}

#imager-filesave {
  padding: 5px;
  background-color: $grey;
  #imager-filesave-filename {
    width: 15em;
    font-size: 90%;
  }
  #resolution {
    margin: 0 auto 10px;
    width: auto;
  }
}

#imager-brightness,
#imager-color {
  background-color: $grey;
  .error {
    background-color: $red;
  }
  .slider {
    -webkit-appearance: none;
    z-index: 1060;
  }
  #slider-hue {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
  }
  #slider-saturation {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0.4), rgba(200, 200, 200, 0)), linear-gradient(red, yellow, #008888);
  }
  #slider-lightness,
  #slider-brightness {
    background: linear-gradient(to right, $black, $white);
  }
  #slider-contrast {
    background-image: linear-gradient(to right, #888, #666, #222, #000), linear-gradient(to right, #888, #aaa, #ddd, #fff);
    background-size: 100% 50%, 100% 50%;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
  }
}

#imager-email {
  table {
    margin: 0 auto;
    width: auto;
  }
  position: fixed;
  z-index: 1050;
  input {
    width: 97%;
  }
  padding: 10px;
  background-color: $grey;
  #resolution {
    margin: 0 auto 10px;
    width: auto;
  }
}

#imager-busy {
  position: fixed;
  top: 400px;
  left: 600px;
  z-index: 1110;
}

// @TODO The remaining declarations don't belong here and are for
// development convenience only.  Delete these
.imager {
  .views-row {
    line-height: 1.1;
    font-size: 90%;
    float: left;
    margin: 10px;
    width: 190px;
    height: 200px;
  }
}

div#main {
  width: auto;
}

.imager-noclose {
  .ui-dialog-titlebar-close {
    display: none;
  }
}

.dialogStatus {
  position: fixed;
  z-index: 1014;
  background-color: $grey;
}

.imager-dialog {
  position: fixed;
  background: $lightestgrey;
  .imager-content {
    margin: 0;
    padding: .25em .5em;
  }
  table {
    margin: 0;
  }
  tr td,
  tr th {
    padding: 2px 8px;
  }
  .ui-dialog-titlebar {
    padding: 0.3em 0 0.3em 0.5em;
  }
  .ui-dialog-title {
    margin: 0 1em 0 0;
  }
  .ui-dialog-buttonpane {
    padding: 0 .5em 0 0.4em;
  }
  .ui-button-text {
    padding: 0.2em 0.5em;
  }
  .form-item {
    input {
      font-size: 100%;
    }
    .option {
      font-size: 100%;
      padding-left: 0.5em;
    }
    .description {
      color: $lightergrey;
    }
  }
  #imager-status-content {
    text-align: center;
    .imager-status-col {
      float: left;
      margin: 3px 3px 25px;
    }

    .imager-text-right {
      text-align: right;
    }
    .imager-status-file {
    }
    table {
      border-spacing: 0;
      margin-bottom: 6px;
      th {
        padding: 2px 4px;
      }
      td {
        min-width: 3em;
        padding: 3px;
      }
    }
  }
}

.imgareaselect-outer {
  z-index: 1011 !important;
}

/*
html, body {
  overflow: hidden;
  height: 100%;
}

#main-wrapper,
#page-wrapper {
  overflow-y: scroll;
  height: 100%;
}
*/
