
/*
 * @file
 * imager.sass
 */
// @import "normalize"

@import "custom"

#imager-wrapper
  table
    background-color: $greyblue
    margin-top: 0
    border: 0px
    border-radius: 12px
    border-collapse: separate
    border-spacing: 3px
    th:first-child 
      border-radius: 10px 0 0 0
    th:last-child 
      border-radius: 0 10px 0 0
    th:only-child 
      border-radius: 10px 10px 0 0
    th
      text-align: center
      color: $lightyellow
      background-color: $darkgreyblue
#imager-overlay.hide
  left: 10000px
#imager-overlay.fullscreen
  margin: 0
  box-shadow: none
  width: 100%
  padding: 100px
#imager-overlay
  background: #555
  z-index: 1000
  position: fixed
  top: 5px
  left: 5px
  overflow: auto
  @include pi-border(15px,3px,$darkpurple)
  margin: 0px 
  padding: 0px
  button
    border-radius: 8px
    background-color: $faintpurple
  #imager-canvas-wrapper
    float: left
    margin: 3px 3px 0px 1px
    padding: 0
    #imager-canvas-org
      display: hidden
    #imager-canvas
      padding: 0
      margin: 0
      @include pi-border(12px,3px,#000)
  #button-wrapper
    float: left
    margin-right: 0
    div
      font-size: 80%
      text-align: center
      margin: 2px 0
      padding: 0
    .buttons
      margin: 3px 3px 0
      color: #000
      @include pa-border(12px,3px,$lightblue)
      padding: 2px 2px
      img
        display: block
        margin: 2px 2px
        padding: 2px 4px
        clear: both
        float: none
        border-radius: 6px
      .checked
        background-color: $lightyellow
      .disabled
        background-color: $grey
      .specific
        background-color: $lightblue
    #debug-buttons
      z-index: 999
      font-size: 70%
      position: absolute
      bottom: 5px
.imgareaselect-outer
//border-radius: 12px

#imager-status.hide
  right: 100000px
#imager-status
  @include pi-border(15px,3px,$darkorange)
  position: fixed
  z-index: 1010
  right: 5px
  bottom: 5px
  div
    padding: 5px
    text-align: center
    font-weight: bold
    font-style: 120%
  span
    float: left
    padding: 5px

#imager-info.hide
  right: 100000px
#imager-info
  @include pi-border(15px,3px,$darkpurple)
  position: fixed
  z-index: 1005
  right: 5px
  top: 5px
  padding: 5px 10px
  max-width: 800px
  .title
    color: $brown 
    text-align: center
    font-size: 120%
    font-weight: bold
    word-wrap: break-word
  .filename
    color: #050
    font-style: italic
    font-size: 70%
    text-align: center
    margin-bottom: 5px
  .error
    background-color: $red
    color: white
  #imager-info-buttons
    float: right
    @include pa-border(12px,3px,$lightblue)
    z-index: 1100
    padding: 0 5px
    img
      float: left
      padding: 5px
  #imager-info-geometry
    clear: both
  #imager-info-content
    img.imager-info-edit
      float: left
      clear: both
      margin: 0 5px 3px 0
    section
      float: left

#imager-edit.hide
  right: 100000px
#imager-edit
  @include pi-border(15px,3px,$darkgreen)
  position: fixed
  right: 5px
  top: 6px
  padding: 5px 5px
  z-index: 1010
  #imager-edit-buttons
    float: right
    @include pa-border(12px,3px,$lightblue)
    z-index: 1100
    padding: 0 5px
    img
      float: left
      padding: 5px

#imager-messages.hide
  left: 100000px
#imager-messages.error
  color: black
  font-size: 140%
  background-color: $red
  background-image: none
#imager-messages
  @include pi-border(15px,3px,$red)
  position: fixed
  z-index: 1010
  left: 250px
  top: 5px
  .info
    font-size: 110%
    font-weight: bold
  h2
    margin: 5px 0
  padding: 10px
  .error
    background-color: $red


#imager-filesave.hide,
#imager-brightness.hide,
#imager-color.hide
  left: 100000px
#imager-filesave
  left: 200px
  top: 200px
  @include pi-border(15px,3px,$orange)
  position: fixed
  z-index: 1040
  padding: 10px
  #resolution
    margin: 0 auto 10px
    width: auto
  .title
    font-weight: bold
    margin: 10px
#imager-brightness,
#imager-color
  @include pi-border(15px,3px,$darkgreen)
  position: fixed
  z-index: 1040
  left: 65px
  bottom: 5px
  padding: 5px

  .error
    background-color: $darkred
  .slider
    -webkit-appearance: none
    z-index: 1050
    border-radius: 8px
  #slider-hue
    background: linear-gradient(to right,red,orange,yellow,green,cyan,blue,purple)

  #slider-saturation
    background-image: linear-gradient(to right, rgba(200,200,200,1),rgba(200,200,200,.4),rgba(200,200,200,0)),linear-gradient(red,yellow,#008888)
  #slider-lightness,
  #slider-brightness
    background: linear-gradient(to right, black, white)
  #slider-contrast
    background-image: linear-gradient(to right, #888, #666, #222, #000),linear-gradient(to right, #888, #aaa, #ddd, #fff)
    background-size: 100% 50%, 100% 50%
    background-position: 0 0, 0 100%
    background-repeat: no-repeat
 
.clicktoexit
  margin-top: 10px
  font-size: 70%
  font-style: italic
  color: $lightgrey
  float: right

#imager-busy
  position: fixed
  top: 400px
  left: 600px
  z-index: 1100    


.field-name-field-detail 
  float: left
