-color
/*
 * @file
 * imager.sass
 */
// @import "normalize"

$red:         #f00
$lightergrey: #eee
$lightgrey:   #ccc
$grey:        #aaa
$greyer:      #888
$darkgrey:    #666
$darkergrey:  #444
$black:       #000
$white:       #fff

#imager-wrapper
  color: $black
  background-color: $lightergrey
  table
    background-color: $lightgrey
    border-collapse: separate
    border-spacing: 2px
    td
      line-height: 1
      border-top: 0px
      padding: 2px
    th
      color: $lightgrey
      background-color: $darkgrey
#imager-overlay.fullscreen
  width: 100%
#imager-overlay
  z-index: 1010
  position: fixed
  top: 0px
  left: 0px
  overflow: auto
  padding: 3px
  background-color: $lightergrey
  button
    background-color: $lightgrey
  #imager-canvas-wrapper
    float: left
    #imager-canvas-org
      display: hidden
    #imager-canvas
  #button-wrapper
    float: left
    div
      text-align: center
    .buttons
      background-color: $lightgrey
      padding: 3px
      margin: 0 2px 2px 0
      text-align: center
      font-size: 75%
      img
        border-radius: 4px
        display: block
        padding: 3px
        margin: 0 auto
      .checked
        background-color: $lightergrey
      .disabled
        background-color: $grey
      .specific
        background-color: $darkgrey
    #file-buttons
      margin-bottom: 65px
    #debug-buttons
      z-index: 1009
      position: absolute
      bottom: 7px

.imager-buttons
  position: absolute
  bottom: 5px
  right: 5px
  background-color: $lightgrey
  img
    padding: 4px

.imager-content
  margin-bottom: 35px

#imager-status
  position: fixed
  z-index: 1014
  background-color: $grey
  #imager-status-content
    text-align: center
  .imager-status-col
    float: left
    margin: 3px 3px 25px
  .imager-status-file
    color: $white
    
  table
    border-spacing: 0
    margin-bottom: 6px
    th
      padding: 2px 4px
    td
      padding: 3px

#imager-info
  position: fixed
  z-index: 1015
  padding: 5px
  min-width: 200px
  max-width: 600px
  background-color: $lightergrey
  .title
    text-align: center
    word-wrap: break-word
  .filename
    text-align: center
  .error
    background-color: $red
    color: $white
  .field-name-sfield-owner, 
  .field-name-sfield-filename, 
  .field-name-sfield-filesize, 
  .field-name-sfield-geometry 
    float: none
    clear: both
  #imager-info-buttons
    float: right
    z-index: 1110
    img
      float: left
  #imager-info-geometry
    clear: both
  #imager-info-content
    img.imager-info-edit
      float: left
      clear: both
    section
      float: left

#imager-edit
  max-width: 700px
  position: fixed
  padding: 10px
  background-color: $greyer
  z-index: 1020
  .form-item
    margin: 0
  .description
    font-style: italic
    margin-top: 10px
    max-width: 500px
  .form-text 
    width: 500px
  table.cke_editor
    background-color: #ccc
    border-radius: 0
    body
      background-image: none

#imager-confirm
  max-width: 700px
  position: fixed
  z-index: 1020
  background-color: $grey
  padding: 0 10px
  .imager-content
    margin: 0
  #imager-confirm-buttons
    position: static
    margin: 0 auto
    width: 53px
    float: none

#imager-map
  max-width: 800px
  padding: 5px
  position: fixed
  background-color: $greyer
  z-index: 1013
  .description
    max-width: 300px
  #imager-map-buttons
    float: right
    z-index: 1110
    background-color: $lightgrey
    img
      float: left

#imager-messages.error
  background-color: $red
  background-image: none
#imager-messages
  padding: 10px
  position: fixed
  z-index: 1020
  font-size: 80%
  .info
  h2
  .error
    background-color: $red


#imager-filesave
  padding: 5px
  position: fixed
  z-index: 1050
  padding: 10px
  background-color: $grey
  #imager-filesave-filename
    width: 30em
    font-size: 90%
  #resolution
    margin: 0 auto 10px
    width: auto
#imager-brightness,
#imager-color
  position: fixed
  z-index: 1050
  background-color: $grey
  .error
    background-color: $red
  .slider
    -webkit-appearance: none
    z-index: 1060
  #slider-hue
    background: linear-gradient(to right,red,orange,yellow,green,cyan,blue,purple)

  #slider-saturation
    background-image: linear-gradient(to right, rgba(200,200,200,1),rgba(200,200,200,.4),rgba(200,200,200,0)),linear-gradient(red,yellow,#008888)
  #slider-lightness,
  #slider-brightness
    background: linear-gradient(to right, $black, $white)
  #slider-contrast
    background-image: linear-gradient(to right, #888, #666, #222, #000),linear-gradient(to right, #888, #aaa, #ddd, #fff)
    background-size: 100% 50%, 100% 50%
    background-position: 0 0, 0 100%
    background-repeat: no-repeat
 
#imager-email
  table
    margin: 0 auto
    width: auto
  padding: 5px
  position: fixed
  z-index: 1050
  input
    width: 97%
  padding: 10px
  background-color: $grey
  #resolution
    margin: 0 auto 10px
    width: auto

#imager-busy
  position: fixed
  top: 400px
  left: 600px
  z-index: 1110    

.imager 
  .views-row
    float: left
    margin: 10px
